---
- name: Discover OS variable files
  stat:
    path: "{{ role_path }}/vars/{{ item }}"
  register: monica_varfiles
  loop:
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
    - "main.yml"

- name: Load OS-specific variables (only existing files)
  include_vars:
    file: "{{ item.stat.path }}"
  loop: "{{ monica_varfiles.results }}"
  when: item.stat.exists

- name: Assert required variables are defined
  assert:
    that:
      - monica_packages is defined
      - monica_web_group is defined
      - monica_service_name is defined
      - php_fpm_service is defined
      - nginx_site_dest is defined
    fail_msg: "Required role variables are missing for this OS. Check vars/<OS>.yml."

- name: install required packages
  package:
    name: "{{ monica_packages }}"
    state: present
  notify:
    - reload php-fpm


- name: check out master branch
  git:
    repo: 'https://github.com/monicahq/monica'
    dest: /srv/monicahq
    version: master

- name: Add the user
  user:
    name: monicahq
    shell: "{{ monica_nologin_shell | default('/usr/sbin/nologin') }}"
    home: /srv/monicahq


- name: install composer
  include_role:
    name: geerlingguy.composer

- name: install composer dependencies
  composer:
    command: install
    working_dir: /srv/monicahq
- name: prepare configuration
  template:
    src: env.j2
    dest: /srv/monicahq/.env

- name: Run an initial key generation
  command: "/usr/bin/php /srv/monicahq/artisan key:generate"
  args:
    chdir: /srv/monicahq/
  tags: molecule-notest

- name: Run an initial migration
  command: "/usr/bin/php /srv/monicahq/artisan setup:production --force"
  args:
    chdir: /srv/monicahq/
  tags: molecule-notest

- name: Place a scheduler cron job
  cron:
    user: monicahq
    name: "scheduler"
    job: "/usr/bin/php /srv/monicahq/artisan schedule:run"

- name: Recursively change ownership of a directory
  file:
    path: /srv/monicahq
    state: directory
    recurse: yes
    owner: monicahq
    group: "{{ monica_web_group }}"

- name: Put right permissions to storage
  file:
    path: /srv/monicahq/storage
    state: directory
    recurse: yes
    mode: g+w
- name: Create nginx vhost config
  template:
    src: monicahq.conf.j2
    dest: "{{ nginx_site_dest }}"
  notify:
    - reload nginx

- name: Remove default nginx configuration (Debian family)
  file:
    path: "{{ default_nginx_site_path }}"
    state: absent
  when: default_nginx_site_path | default('') | length > 0
  notify:
    - reload nginx
